<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a herf="#">削除</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message -user">
        You
      </div>
      <div class="message-date">
        2021/6/10(Thu) 18:13:33
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        がんばれ
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message -user">
        Me
      </div>
      <div class="message-date">
        2021/6/10(Thu) 18:20:43
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        無理
      </div>
    </div>
  </div>

</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "メッセージを入力して下さい。">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>