<div class="side-bar-header">
  <div class="header-name">
    <a href="#">You</a>
  </div>
  <div class="create-group">
    <a href="#">グループを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="group">
    <div class="group-name">
      <a href="#">grouproom1</a>
    </div>
  </div>
  <div class="group">
    <div class="group-name">
      <a herf="#">grouproom2</a>
    </div>
  </div>
</div>
