<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-group">
    <%= link_to "要件を作成する", new_group_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.groups.each do |room| %>
    <div class="subject">
      <div class="subject-name">
        <%= link_to room.group_name, group_rooms_path(room) %>
      </div>
    </div>
  <% end %>
</div>
