<div class="side-bar-header">
  <div class="header-name">
    <a href="#">You</a>
  </div>
  <div class="create-group">
    <a href="#">要件を作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="subject">
    <div class="subject-name">
      <a href="#">subjectname1</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a herf="#">subjectname2</a>
    </div>
  </div>
</div>
